.order-container{
    background-color: green;
}

.order-container button{
    padding: 135px 10px;
    background-color: orange;
    color: white;
    font-weight: 700;
    border: 2px double green;
}